.container-main_header {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    .container-main-header_body {
        display: flex;
        justify-content: space-between;
        padding: 0 230px;
        align-items: center;
        .logo {
            display: flex;
            align-items: end;
            gap: 13px;
            .logo-round {
                width: 19.88px;
                height: 19.88px;
                border-radius: 50%;
                background: #9C69E2;
            }
            .logo-rectangular {
                width: 19.88px;
                height: 34.78px;
                border-radius: 20px;
                background: #F063B8;
            }
        }
        .header_button {
            display: flex;
            gap: 20px;
            .hiddenButton {
                display: none;
            }
            .button-login {
                background: #9C69E2;
                padding: 4px 35px;
                border-radius: 22px;
                font-family: Inter;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 0.005em;
                text-align: left;
                color: #FFFFFF;
                border: none;
                outline: none;
            }
        }
    }
}

.hidden {
    display: none;
}